
##############################################################################
# This file is part of RetroCRT (https://github.com/xovox/RetroCRT)
#
# RetroCRT is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# RetroCRT is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with RetroCRT.  If not, see <https://www.gnu.org/licenses/>.
##############################################################################

# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/nes/"

custom_viewport_width = 1920
custom_viewport_height = 224
custom_viewport_x = 0
custom_viewport_y = 0
aspect_ratio_index = 23
video_smooth = false
video_fullscreen = true
video_scale_integer = false
video_threaded = true
video_refresh_rate = 60.100
video_vsync = true
video_hard_sync = true

#include "/opt/retropie/configs/all/retroarch.cfg"
