[Unit] 
Type=simple
Description=RetroCRT Background Tasks
Requires=multiuser.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service] 
ExecStop=/usr/bin/retrocrtstop
ExecStart=/usr/bin/retrocrtstart
Type=oneshot 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
